<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <%= link_to t('.update_merchant'), edit_user_merchant_path(current_user, @merchant), class: "button" %>
    </div>
  </div>
</nav>

<section class="section">
  <div class=".container.is-max-widescreen">
    <h1 class="title has-text-centered"><%= @merchant.name %></h1>
  </div><br>
  <div class="columns">
    <div class="column box> id="available-discounts">
      <p class="title has-text-centered"><%= t('.available_discounts') %></p>
        <ol>
          <% @merchant.discounts.each do |discount| %>
            <li>
              <%= discount.name %>
              <%= discount.percentage %>
              <%= discount.minimum %>
            </li>
          <% end %>
        </ol>
      </p>
    </div>

    <div class="column" id="items-for-sale">
      <p class="title has-text-centered"><%= t('.items_for_sale') %></p>
      <ol>
        <% @merchant.items.each do |item| %>
          <li class="block is-size-5">
            <%= item.name %>
            <%= item.unit_price %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</section>
