<section class="section">
  <div class=".container.is-max-widescreen">
    <h1 class="title has-text-centered">Merchant: <%= @merchant.name %></h1>
    <h3 class="has-text-centered">Need to ask the merchant a question?<%= mail_to "#{@merchant.user.email}", "click here" %>
    <% if @merchant.avatar.attached? %>
      <image src="<%=(url_for(@merchant.avatar))%>">
    <% end %>
  </div><br>
  <div class="columns">
    <div class="column box> id="available-discounts">
      <p class="title has-text-centered"><%= t('.available_discounts') %></p>
        <ol>
          <% @merchant.discounts.each do |discount| %>
            <li id="discount-<%= discount.id %>">
              Discount: <%= link_to discount.name, merchant_discount_path(@merchant, discount) %>,
              Percent off: <%= discount.percentage %>,
              Minimum Quantity: <%= discount.minimum %>
            </li>
          <% end %>
        </ol>
      </p>
    </div>

    <div class="column" id="items-for-sale">
      <p class="title has-text-centered"><%= t('.items_for_sale') %></p>
      <ol>
        <% @merchant.items.each do |item| %>
          <li class="block is-size-5" id="item-<%= item.id %>">
            <%= link_to item.name, shopping_merchant_item_path(@merchant, item) %>
            <%= item.unit_price %>.00
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</section>
