<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h2><%= t("grandmazon") %></h2>
    </div>
  </div>
  <div class="level-right is-size-4">
    <%= link_to "#{t('dashboard_cart')} (#{cart.total_count})", shopping_cart_path(cart), class: 'button is-success is-medium' %>
  </div>
</nav>
<hr>

<section class="section">
  <section class="section is-size-5 box" id="invoices">
    <div class="paginator">
      <%= will_paginate @merchants %>
    </div>
    <% @merchants.each do |merchant| %>
      <section class="section" id="merchant-<%= merchant.id %>">
        <h1 class="title has-text-centered"><%= link_to "#{merchant.name}", shopping_merchant_path(merchant) %></h1>
        <% merchant.items.each do |item| %>
          <section class="box has-text-centered" id="item-<%= item.id %>">
            <p class="title has-text-centered"><%= link_to "#{item.name} — #{number_to_currency(item.unit_price, precision: 2)}", shopping_merchant_item_path(merchant, item.id) %></p>
            <p class="title has-text-centered"><%= button_to t("add_to_cart"), shopping_cart_path(item.id), params: {add_item: true}, method: :patch, class: 'button is-large is-primary is-center' %></p>
          </section>
        <% end %>
      </section>
    <% end %>

  </section>
</section>
