<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h2><%= t('.orders') %></h2>
    </div>
  </div>
</nav>
<hr>


<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child box" id="merchants-enabled">
        <p class="title" id="orders"><%= t('.in-progress-orders') %></p>
          <% @orders.each do |invoice| %>
            <% if invoice.in_progress? %>
              <p id='order-<%= invoice.id %>'>
                <%= link_to "Invoice- #{invoice.id}", user_order_path(current_user, invoice), class: 'is-size-5' %>:
                Item count on invoice: <%= invoice.items.count %>.  
                <%= invoice.status.humanize %>
              </p>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="tile is-6 is-vertical is-parent">
      <div class="tile is-child box" id="merchants-enabled">
        <p class="title"><%= t('.completed-orders') %></p>
          <% @orders.each do |invoice| %>
            <% if invoice.completed? %>
              <p id='invoice-<%= invoice.id %>'>
                <%= link_to "Invoice-#{invoice.id}", admin_invoice_path(invoice), class: 'is-size-5' %>
              </p>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</section>
