<%= render 'merchant/dashboard/merchant_nav' %>

<section class="section">
  <div class=".container.is-max-widescreen">
    <h1><%= @discount.name %> </h1>
    <h3>Percentage off: <%= @discount.percentage %>%</h3>
    <h3>Minimum quantity needed: <%= @discount.minimum %></h3>
    <h3><%= link_to "Edit Discount", edit_merchant_discount_path(@merchant, @discount), class: "button" %></h3>
  </div>
</section>
